$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$blue-hover: #766cf1;
$blue-background: #e0e8ff;
$blue-shadow: #dcd7f5;
$white: #FFFFFF;
$grey: #9194a4;

// 500, 700, 900
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Red Hat Display';
   font-size: 16px;
   font-weight: 500;
}

:root {
   --card-width: 400px;
}

.order {
   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url('./images/pattern-background-desktop.svg');
      background-repeat: no-repeat;
      background-color: $blue-background;
      background-size: 100% auto;
   }

   &__card {
      width: var(--card-width);
      border-radius: 20px;
      background-color: $white;
      margin: 25px;
      
      overflow: hidden;
   }

   &__image-container {
      width: 100%;
      height: calc(var(--card-width)/ 2);
   }

   &__image {
      width: 100%;
      height: 100%;
   }

   &__text-container {
      padding: 40px;
   }

   &__title,
   &__details,
   &__payment-button,
   &__cancel-button {
      display: flex;
      justify-content: center;
      text-align: center;
   }

   &__title {
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 20px;
      color: $dark-blue;
   }

   &__details {
      margin-bottom: 20px;
   }

   &__pricing-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $very-pale-blue;
      padding: 20px;
      border-radius: 10px;
   }

   &__plan-container {
      display: flex;
      align-items: center;
   }

   &__icon {
      margin-right: 15px;
   }

   &__plan {
      font-weight: 900;
      margin-bottom: 5px;
   }

   &__price,
   &__details,
   &__cancel-button {
      color: $grey;
   }

   &__change {
      color: $bright-blue;
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;

      &:hover {
         color: $blue-hover;
         text-decoration: none;
      }
   }

   &__payment-button {
      margin-top: 25px;
      border-radius: 10px;
      padding: 15px;
      font-weight: 900;
      background-color: $bright-blue;
      color: $white;
      box-shadow: 0px 30px 35px $blue-shadow;
      cursor: pointer;

      &:hover{
         background-color: $blue-hover;
      }
   }

   &__cancel-button {
      margin-top: 30px;
      font-weight: 900;
   }

   &__cancel-text {
      cursor: pointer;

      &:hover {
         color: $dark-blue;
      }
   }
}

@media screen and (max-width: 400px) {
   :root {
      --card-width: 300px;
   }

   * {
      font-size: 14px;
   }

   .order {
      &__card {
         max-width: var(--card-width);
         min-width: var(--card-width);
      }

      &__text-container {
         padding: 25px;
      }
   }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
